@charset "UTF-8";
/** 
* Start Global Style
**/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #f9f7fc;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
}

small {
  font-size: 100%;
}

ul,
li {
  list-style: none;
}

.primary-btn {
  width: 170px;
  height: 50px;
  background-color: #813afe;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondary-btn {
  width: 170px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #813afe;
  border-radius: 5px;
  border: 1px solid #813afe;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondary-btn:hover {
  background-color: #813afe;
  border: 1px solid transparent;
  color: #fff;
}

.container {
  width: 1180px;
  max-width: 90%;
  margin: 0 auto;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section span {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #813afe;
}

.header-section h2 {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  color: #333;
  margin-top: 3px;
}

/** 
* End Global Style
**/
/** 
* Start Header Style
**/
header {
  width: 1180px;
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #333;
  position: relative;
  z-index: 1;
}

header .menu ul li:after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #813afe;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu ul li.active:after, header .menu ul li:hover:after {
  width: 50%;
}

header .menu ul li:not(:first-child) {
  margin-left: 50px;
}

/** 
* End Header Style
**/
/** 
* Start Hero Section Style
**/
.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.hero:after {
  content: "";
  width: 1170px;
  height: 565px;
  background-image: url(../images/line-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.hero .content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .info-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .info-hero h3 {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: #813afe;
}

.hero .info-hero h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 83px;
  color: #333;
}

.hero .info-hero h1 span {
  color: #813afe;
}

.hero .info-hero h1 small {
  position: relative;
  z-index: 2;
}

.hero .info-hero h1 small:after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #eaddff;
  position: absolute;
  bottom: 13px;
  left: 0;
  z-index: -1;
}

.hero .info-hero p {
  width: 530px;
  max-width: 95%;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #86888f;
  margin-top: 20px;
}

.hero .info-hero .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.hero .info-hero .btns button:first-child {
  margin-right: 30px;
}

.hero .images-hero {
  width: 458px;
  height: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 30px;
}

.hero .images-hero .box {
  position: absolute;
  inset: 0;
}

.hero .images-hero .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .images-hero .image {
  width: 430px;
  height: 518px;
  position: absolute;
  top: -60px;
  left: -20px;
}

.hero .images-hero .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/** 
* End Hero Section Style
**/
/** 
* Start About Us Section Style
**/
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
  z-index: 2;
  position: relative;
}

.about-us:after, .about-us::before {
  content: "";
  width: 288px;
  height: 39px;
  position: absolute;
  bottom: 30px;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='287.927' height='38.983' viewBox='0 0 287.927 38.983'%3E%3Cg id='Groupe_349' data-name='Groupe 349' transform='translate(28.684 -1704.905)'%3E%3Cpath id='Tracé_91' data-name='Tracé 91' d='M619.316,215.792c15.905,0,15.905,15.6,31.81,15.6s15.9-15.6,31.807-15.6,15.9,15.6,31.808,15.6,15.9-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.906-15.6,31.813-15.6,15.906,15.6,31.812,15.6' transform='translate(-648 1511)' fill='none' stroke='%23813afe' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3Cpath id='Tracé_90' data-name='Tracé 90' d='M684.576,195.4c15.9,0,15.9,15.6,31.809,15.6s15.9-15.6,31.807-15.6S764.1,211,780,211s15.905-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.907-15.6,31.813-15.6S891.336,211,907.243,211' transform='translate(-648 1511)' fill='none' stroke='%23333' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.about-us:before {
  width: 159px;
  height: 164px;
  position: absolute;
  top: 30px;
  right: 90px;
  left: initial;
  background-image: url(../images/bg-about-us.svg);
}

.about-us .content-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.about-us .blocks .left-side {
  width: 390px;
  height: 400px;
  position: relative;
  background-color: grey;
}

.about-us .blocks .left-side .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.about-us .blocks .left-side .image:after {
  content: "";
  width: 237px;
  height: 400px;
  position: absolute;
  bottom: -60px;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='400' viewBox='0 0 237 400'%3E%3Cg id='Rectangle_525_copy' data-name='Rectangle 525 copy' fill='none' stroke='%23813afe' stroke-linecap='round' stroke-width='3' stroke-dasharray='10' opacity='0.74'%3E%3Crect width='237' height='400' rx='3' stroke='none'/%3E%3Crect x='1.5' y='1.5' width='234' height='397' rx='1.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.about-us .blocks .left-side .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us .blocks .left-side .box-experience {
  position: absolute;
  bottom: -40px;
  left: -86px;
  padding: 30px;
  background-color: #813afe;
  border-radius: 3px;
}

.about-us .blocks .left-side .box-experience h3 {
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.about-us .blocks .left-side .box-experience .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.about-us .blocks .left-side .box-experience .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .blocks .left-side .box-experience .social-media ul li:not(:first-child) {
  margin-left: 8px;
}

.about-us .blocks .right-side {
  width: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .blocks .right-side .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .blocks .right-side .content span,
.about-us .blocks .right-side .content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #7e7e7e;
}

.about-us .blocks .right-side .content span {
  display: block;
  margin-bottom: 25px;
}

.about-us .blocks .right-side .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.about-us .blocks .right-side .btns button:first-child {
  margin-right: 30px;
}

/** 
* End About Us Section Style
**/
/** 
* Start Service Section Style
**/
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  z-index: 2;
  position: relative;
}

.service .content-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.service .content-service:after {
  content: "";
  width: 192px;
  height: 171px;
  background-image: url(../images/bg-services.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: -1;
}

.service .owl-dots {
  display: block;
  margin-top: 50px !important;
}

.service .owl-dots .owl-dot span {
  background-color: #be99fe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .owl-dots .owl-dot.active span,
.service .owl-dots .owl-dot:hover span {
  background-color: #813afe;
}

.service .blocks-services {
  margin-top: 50px;
  padding-bottom: 70px;
}

.service .blocks-services .owl-stage-outer {
  overflow: initial;
}

.service .blocks-services .item {
  height: 377px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 60px rgba(36, 0, 100, 0.13);
          box-shadow: 0px 5px 60px rgba(36, 0, 100, 0.13);
  padding: 50px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.service .blocks-services .item h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  color: #333333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #7e7e7e;
  margin-top: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.service .blocks-services .item .read-more span {
  font-weight: 500;
  font-size: 14px;
  color: #7e7e7e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item .read-more svg {
  margin-left: 30px;
}

.service .blocks-services .item .read-more svg path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item:hover {
  background-color: #813afe;
}

.service .blocks-services .item:hover h3,
.service .blocks-services .item:hover p {
  color: #fff;
}

.service .blocks-services .item:hover .read-more span {
  color: #fff;
}

.service .blocks-services .item:hover .read-more svg path {
  fill: #fff;
}

/** 
* End Service Section Style
**/
/** 
* Start Portfolio Section Style
**/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
  z-index: 2;
  position: relative;
}

.portfolio .content-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .blocks-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.portfolio .blocks-portfolio:before {
  content: "";
  width: 159px;
  height: 164px;
  position: absolute;
  top: -40px;
  left: -50px;
  background-image: url(../images/bg-about-us.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.portfolio .blocks-portfolio .item {
  height: 300px;
}

.portfolio .blocks-portfolio .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/** 
* End Portfolio Section Style
**/
/*# sourceMappingURL=styles.css.map */