@charset "UTF-8";
/** 
* Start Global Style
**/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 4000px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #f9f7fc;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
}

small {
  font-size: 100%;
}

ul,
li {
  list-style: none;
}

.primary-btn {
  width: 170px;
  height: 50px;
  background-color: #813afe;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondary-btn {
  width: 170px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #813afe;
  border-radius: 5px;
  border: 1px solid #813afe;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondary-btn:hover {
  background-color: #813afe;
  border: 1px solid transparent;
  color: #fff;
}

.container {
  width: 1180px;
  max-width: 90%;
  margin: 0 auto;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section span {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #813afe;
}

.header-section h2 {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  color: #333;
  margin-top: 3px;
}

/** 
* End Global Style
**/
/** 
* Start Header Style
**/
header {
  width: 1180px;
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 999;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #333;
  position: relative;
  z-index: 1;
}

header .menu ul li:after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #813afe;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu ul li.active:after, header .menu ul li:hover:after {
  width: 50%;
}

header .menu ul li:not(:first-child) {
  margin-left: 50px;
}

/** 
* End Header Style
**/
/** 
* Start Hero Section Style
**/
.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.hero:after {
  content: "";
  width: 1170px;
  height: 565px;
  background-image: url(../images/line-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.hero .content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .info-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .info-hero h3 {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: #813afe;
}

.hero .info-hero h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 83px;
  color: #333;
}

.hero .info-hero h1 span {
  color: #813afe;
}

.hero .info-hero h1 small {
  position: relative;
  z-index: 2;
}

.hero .info-hero h1 small:after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #eaddff;
  position: absolute;
  bottom: 13px;
  left: 0;
  z-index: -1;
}

.hero .info-hero p {
  width: 530px;
  max-width: 95%;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #86888f;
  margin-top: 20px;
}

.hero .info-hero .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.hero .info-hero .btns button:first-child {
  margin-right: 30px;
}

.hero .images-hero {
  width: 458px;
  height: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 30px;
}

.hero .images-hero .box {
  position: absolute;
  inset: 0;
}

.hero .images-hero .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .images-hero .image {
  width: 430px;
  height: 518px;
  position: absolute;
  top: -60px;
  left: -20px;
}

.hero .images-hero .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/** 
* End Hero Section Style
**/
/** 
* Start About Us Section Style
**/
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
  z-index: 2;
  position: relative;
}

.about-us:after, .about-us::before {
  content: "";
  width: 288px;
  height: 39px;
  position: absolute;
  bottom: 30px;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='287.927' height='38.983' viewBox='0 0 287.927 38.983'%3E%3Cg id='Groupe_349' data-name='Groupe 349' transform='translate(28.684 -1704.905)'%3E%3Cpath id='Tracé_91' data-name='Tracé 91' d='M619.316,215.792c15.905,0,15.905,15.6,31.81,15.6s15.9-15.6,31.807-15.6,15.9,15.6,31.808,15.6,15.9-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.906-15.6,31.813-15.6,15.906,15.6,31.812,15.6' transform='translate(-648 1511)' fill='none' stroke='%23813afe' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3Cpath id='Tracé_90' data-name='Tracé 90' d='M684.576,195.4c15.9,0,15.9,15.6,31.809,15.6s15.9-15.6,31.807-15.6S764.1,211,780,211s15.905-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.907-15.6,31.813-15.6S891.336,211,907.243,211' transform='translate(-648 1511)' fill='none' stroke='%23333' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.about-us:before {
  width: 159px;
  height: 164px;
  position: absolute;
  top: 30px;
  right: 90px;
  left: initial;
  background-image: url(../images/bg-about-us.svg);
}

.about-us .content-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.about-us .blocks .left-side {
  width: 390px;
  height: 400px;
  position: relative;
  background-color: grey;
}

.about-us .blocks .left-side .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.about-us .blocks .left-side .image:after {
  content: "";
  width: 237px;
  height: 400px;
  position: absolute;
  bottom: -60px;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='400' viewBox='0 0 237 400'%3E%3Cg id='Rectangle_525_copy' data-name='Rectangle 525 copy' fill='none' stroke='%23813afe' stroke-linecap='round' stroke-width='3' stroke-dasharray='10' opacity='0.74'%3E%3Crect width='237' height='400' rx='3' stroke='none'/%3E%3Crect x='1.5' y='1.5' width='234' height='397' rx='1.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.about-us .blocks .left-side .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us .blocks .left-side .box-experience {
  position: absolute;
  bottom: -40px;
  left: -86px;
  padding: 30px;
  background-color: #813afe;
  border-radius: 3px;
}

.about-us .blocks .left-side .box-experience h3 {
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.about-us .blocks .left-side .box-experience .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.about-us .blocks .left-side .box-experience .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .blocks .left-side .box-experience .social-media ul li:not(:first-child) {
  margin-left: 8px;
}

.about-us .blocks .right-side {
  width: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .blocks .right-side .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .blocks .right-side .content span,
.about-us .blocks .right-side .content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #7e7e7e;
}

.about-us .blocks .right-side .content span {
  display: block;
  margin-bottom: 25px;
}

.about-us .blocks .right-side .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.about-us .blocks .right-side .btns button:first-child {
  margin-right: 30px;
}

/** 
* End About Us Section Style
**/
/** 
* Start Service Section Style
**/
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  z-index: 2;
  position: relative;
}

.service .content-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.service .content-service:after {
  content: "";
  width: 192px;
  height: 171px;
  background-image: url(../images/bg-services.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: -1;
}

.service .owl-dots {
  display: block;
  margin-top: 50px !important;
}

.service .owl-dots .owl-dot span {
  background-color: #be99fe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .owl-dots .owl-dot.active span,
.service .owl-dots .owl-dot:hover span {
  background-color: #813afe;
}

.service .blocks-services {
  margin-top: 50px;
  padding-bottom: 70px;
}

.service .blocks-services .owl-stage-outer {
  overflow: initial;
}

.service .blocks-services .item {
  height: 377px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 60px rgba(36, 0, 100, 0.13);
          box-shadow: 0px 5px 60px rgba(36, 0, 100, 0.13);
  padding: 50px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.service .blocks-services .item h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  color: #333333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #7e7e7e;
  margin-top: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.service .blocks-services .item .read-more span {
  font-weight: 500;
  font-size: 14px;
  color: #7e7e7e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item .read-more svg {
  margin-left: 30px;
}

.service .blocks-services .item .read-more svg path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service .blocks-services .item:hover {
  background-color: #813afe;
}

.service .blocks-services .item:hover h3,
.service .blocks-services .item:hover p {
  color: #fff;
}

.service .blocks-services .item:hover .read-more span {
  color: #fff;
}

.service .blocks-services .item:hover .read-more svg path {
  fill: #fff;
}

/** 
* End Service Section Style
**/
/** 
* Start Portfolio Section Style
**/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
  z-index: 2;
  position: relative;
}

.portfolio .content-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .blocks-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.portfolio .blocks-portfolio:before {
  content: "";
  width: 159px;
  height: 164px;
  position: absolute;
  top: -40px;
  left: -50px;
  background-image: url(../images/bg-about-us.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.portfolio .blocks-portfolio .item {
  height: 300px;
}

.portfolio .blocks-portfolio .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/** 
* End Portfolio Section Style
**/
/** 
* Start Hire Me Section Style
**/
.hire-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 148px 0;
  position: relative;
  z-index: 2;
  background: #813afe;
}

.hire-me:after, .hire-me:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hire-me:after {
  width: 68px;
  height: 68px;
  top: 30px;
  right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69.227' height='69.227' viewBox='0 0 69.227 69.227'%3E%3Cg id='Groupe_162' data-name='Groupe 162' transform='translate(-679.001 -94.334)' opacity='0.35'%3E%3Ccircle id='Ellipse_266' data-name='Ellipse 266' cx='27.124' cy='27.124' r='27.124' transform='translate(679.001 94.334)' fill='%23fff' opacity='0.43'/%3E%3Ccircle id='Ellipse_267' data-name='Ellipse 267' cx='27.124' cy='27.124' r='27.124' transform='translate(685.8 154.791) rotate(-81.532)' fill='none' stroke='%23ececec' stroke-miterlimit='10' stroke-width='1.378'/%3E%3Ccircle id='Ellipse_268' data-name='Ellipse 268' cx='12.336' cy='12.336' r='12.336' transform='translate(704.287 119.62)' fill='none' stroke='%23e3e3e3' stroke-miterlimit='10' stroke-width='1.378'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.hire-me:before {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.308' height='27.06' viewBox='0 0 29.308 27.06'%3E%3Cg id='Polygone_4' data-name='Polygone 4' transform='translate(4.949) rotate(13)' fill='none' opacity='0.2'%3E%3Cpath d='M17,0a3,3,0,0,1,2.608,1.518l4.545,8a3,3,0,0,1,0,2.964l-4.545,8A3,3,0,0,1,17,22H8a3,3,0,0,1-2.608-1.518l-4.545-8a3,3,0,0,1,0-2.964l4.545-8A3,3,0,0,1,8,0Z' stroke='none'/%3E%3Cpath d='M 7.995889663696289 3.000001907348633 L 3.450429916381836 11.00000095367432 L 7.995889663696289 19 L 17.00411033630371 19 L 21.54957008361816 11.00000095367432 L 17.00411987304688 3.000001907348633 L 7.995889663696289 3.000001907348633 M 7.995889663696289 1.9073486328125e-06 L 17.00411987304688 1.9073486328125e-06 C 18.08330917358398 1.9073486328125e-06 19.07934951782227 0.57965087890625 19.61248016357422 1.517971038818359 L 24.15793991088867 9.517971038818359 C 24.68011093139648 10.43700122833252 24.68011093139648 11.56300067901611 24.15793991088867 12.48203086853027 L 19.61248016357422 20.48203086853027 C 19.07934951782227 21.42034149169922 18.08330917358398 22 17.00411033630371 22 L 7.995889663696289 22 C 6.916679382324219 22 5.920650482177734 21.42034149169922 5.387519836425781 20.48203086853027 L 0.8420600891113281 12.48203086853027 C 0.3198890686035156 11.56300067901611 0.3198890686035156 10.43700122833252 0.8420600891113281 9.517971038818359 L 5.387519836425781 1.517971038818359 C 5.920650482177734 0.57965087890625 6.916690826416016 1.9073486328125e-06 7.995889663696289 1.9073486328125e-06 Z' stroke='none' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  top: 40px;
  left: 40px;
}

.hire-me .content-hire-me {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  margin: auto;
  width: 970px;
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 70px 0;
  margin: 0 auto;
  border-radius: 3px;
  z-index: 2;
}

.hire-me .content-hire-me:after {
  content: "";
  width: 192px;
  height: 171px;
  background-image: url(../images/bg-services.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -60px;
  right: 0px;
  z-index: -1;
}

.hire-me .content-hire-me h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
  text-align: left;
  color: #333;
  margin-bottom: 40px;
}

.hire-me .icons {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.hire-me .icon1 {
  width: 14px;
  height: 12px;
  top: 20px;
  left: 30px;
  background-image: url(../images/hire-me/icon1.svg);
}

.hire-me .icon2 {
  width: 24px;
  height: 32px;
  top: 20px;
  right: 50px;
  background-image: url(../images/hire-me/icon2.svg);
}

.hire-me .icon3 {
  width: 14px;
  height: 14px;
  bottom: 20px;
  right: 40%;
  background-image: url(../images/hire-me/icon3.svg);
}

.hire-me .icon4 {
  width: 65px;
  height: 31px;
  bottom: 20px;
  left: 10px;
  background-image: url(../images/hire-me/icon4.svg);
}

.hire-me .icon5 {
  width: 204px;
  height: 68px;
  top: 0;
  right: -100px;
  background-image: url(../images/hire-me/icon5.svg);
}

.hire-me .icon6 {
  width: 142px;
  height: 142px;
  top: -50px;
  left: -60px;
  background-image: url(../images/hire-me/icon6.svg);
}

/** 
* End Hire Me Section Style
**/
/** 
* Start Counter Section Style
**/
.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  padding-bottom: 150px;
}

.counter .content-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.counter .count {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.counter .count:after {
  content: "";
  width: 70px;
  height: 18px;
  background-image: url(../images/icon-count.svg);
  background-size: cover;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.counter .count h3 {
  font-weight: 300;
  font-size: 55px;
  text-align: center;
  color: #333;
}

.counter .count p {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #333;
}

/** 
* End Counter Section Style
**/
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.testimonials #testimonial-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.testimonials .testimonial {
  border: 1px solid #c9ced3;
  border-top: 3px solid #c9ced3;
  padding: 70px 25px 100px;
  margin-bottom: 30px;
  position: relative;
}

.testimonials .testimonial::after {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #813afe;
  position: absolute;
  top: 20px;
  left: 25px;
}

.testimonials .testimonial .description {
  font-size: 14px;
  color: #666;
  line-height: 26px;
}

.testimonials .testimonial .pic {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: 25px;
}

.testimonials .testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonials .testimonial .testimonial-title {
  font-size: 20px;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: 150px;
}

.testimonials .testimonial .testimonial-title small {
  display: block;
  font-size: 14px;
  color: #666;
  margin-top: 7px;
}

.testimonials .owl-dots {
  display: block;
  margin-top: 50px !important;
}

.testimonials .owl-dots .owl-dot span {
  background-color: #be99fe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonials .owl-dots .owl-dot.active span,
.testimonials .owl-dots .owl-dot:hover span {
  background-color: #813afe;
}

.partenrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.partenrs .content-partenrs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  opacity: 0.5;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  position: relative;
}

.contact:after {
  content: "";
  width: 204px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: -100px;
  background-image: url(../images/contact/icon-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact .content-contact {
  width: 770px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 60px rgba(36, 0, 100, 0.13);
          box-shadow: 0px 10px 60px rgba(36, 0, 100, 0.13);
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.contact .content-contact:before {
  content: "";
  width: 126px;
  height: 130px;
  position: absolute;
  top: -40px;
  left: -50px;
  background-image: url(../images/bg-about-us.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.contact .content-contact:after {
  content: "";
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: -50px;
  right: -60px;
  background-image: url(../images/contact/icon-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.contact .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .header-contact h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #813afe;
}

.contact .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.contact .mail a {
  font-weight: 300;
  font-size: 45px;
  line-height: 30px;
  text-align: center;
  color: #7e7e7e;
}

.contact .social-media-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.contact .social-media-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .social-media-contact ul li {
  width: 30px;
  height: 30px;
  background: #fff;
  -webkit-filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  border-radius: 50%;
}

.contact .social-media-contact ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  background-color: #f5efff;
}

footer .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  font-weight: normal;
  font-size: 16px;
  color: #333;
}

/** 
* Start Responsive Style
**/
@media screen and (max-width: 1024px) {
  .about-us .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .info-hero h1 {
    font-size: 55px;
    line-height: 68px;
  }
  .hero {
    overflow: hidden;
  }
  .about-us .blocks .right-side {
    width: 664px;
    max-width: 90%;
    margin-top: 90px;
  }
  .service .blocks-services .item h3 {
    font-size: 25px;
    line-height: 37px;
  }
  .hero .images-hero .image {
    width: 380px;
    height: 427px;
  }
  .hero .images-hero {
    width: 368px;
    height: 367px;
  }
  .hire-me .content-hire-me {
    width: 740px;
  }
}

@media screen and (max-width: 768px) {
  .partenrs .content-partenrs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .counter .content-counter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .counter .content-counter .count {
    margin-bottom: 20px;
  }
  .counter {
    padding-bottom: 30px;
  }
  .portfolio .blocks-portfolio {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .blocks-portfolio:before {
    left: 0px;
  }
  .hire-me .content-hire-me h3 {
    font-weight: 500;
    font-size: 27px;
    line-height: 25px;
  }
  .hero .content-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    height: initial;
    padding-top: 130px;
  }
  .hero .info-hero {
    margin-top: 100px;
  }
  .hire-me .content-hire-me {
    width: 690px;
  }
  .hire-me .icon5 {
    right: 0;
  }
  .hire-me .icon6 {
    left: 0;
  }
  .contact .mail a {
    font-size: 35px;
    line-height: 30px;
  }
  .contact .content-contact:before,
  .contact .content-contact:after {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .about-us:before {
    display: none;
  }
  .about-us .blocks .left-side {
    width: 330px;
    height: 339px;
  }
  .about-us .blocks .left-side .image:after {
    width: 157px;
    height: 265px;
  }
  header .menu {
    display: none;
  }
  .hero .info-hero h1 {
    font-size: 35px;
    line-height: 51px;
  }
  .portfolio .blocks-portfolio {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-us .blocks .left-side .box-experience {
    left: 0;
  }
  .contact .mail a {
    font-size: 22px;
    line-height: 30px;
  }
  .hire-me .content-hire-me h3 {
    width: 90%;
    font-size: 27px;
    text-align: center;
    line-height: 34px;
  }
  .hero .info-hero {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */