/** 
* Start About Us Section Style
**/

.about-us {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
  z-index: 2;
  position: relative;

  &:after,
  &::before {
    content: "";
    width: 288px;
    height: 39px;
    position: absolute;
    bottom: 30px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='287.927' height='38.983' viewBox='0 0 287.927 38.983'%3E%3Cg id='Groupe_349' data-name='Groupe 349' transform='translate(28.684 -1704.905)'%3E%3Cpath id='Tracé_91' data-name='Tracé 91' d='M619.316,215.792c15.905,0,15.905,15.6,31.81,15.6s15.9-15.6,31.807-15.6,15.9,15.6,31.808,15.6,15.9-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.906-15.6,31.813-15.6,15.906,15.6,31.812,15.6' transform='translate(-648 1511)' fill='none' stroke='%23813afe' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3Cpath id='Tracé_90' data-name='Tracé 90' d='M684.576,195.4c15.9,0,15.9,15.6,31.809,15.6s15.9-15.6,31.807-15.6S764.1,211,780,211s15.905-15.6,31.809-15.6,15.9,15.6,31.808,15.6,15.907-15.6,31.813-15.6S891.336,211,907.243,211' transform='translate(-648 1511)' fill='none' stroke='%23333' stroke-miterlimit='10' stroke-width='3' opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &:before {
    width: 159px;
    height: 164px;
    position: absolute;
    top: 30px;
    right: 90px;
    left: initial;
    background-image: url(../images/bg-about-us.svg);
  }

  .content-about-us {
    display: flex;
    flex-direction: column;
  }

  .blocks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    .left-side {
      width: 390px;
      height: 400px;
      position: relative;
      background-color: grey;

      .image {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;

        &:after {
          content: "";
          width: 237px;
          height: 400px;
          position: absolute;
          bottom: -60px;
          left: 0;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='400' viewBox='0 0 237 400'%3E%3Cg id='Rectangle_525_copy' data-name='Rectangle 525 copy' fill='none' stroke='%23813afe' stroke-linecap='round' stroke-width='3' stroke-dasharray='10' opacity='0.74'%3E%3Crect width='237' height='400' rx='3' stroke='none'/%3E%3Crect x='1.5' y='1.5' width='234' height='397' rx='1.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
          z-index: -1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .box-experience {
        position: absolute;
        bottom: -40px;
        left: -86px;
        padding: 30px;
        background-color: $primaryColor;
        border-radius: 3px;

        h3 {
          font-weight: normal;
          font-size: 25px;
          line-height: 32px;
          text-align: center;
          color: #fff;
        }

        .social-media {
          display: flex;
          flex-direction: column;
          margin-top: 10px;

          ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li:not(:first-child) {
              margin-left: 8px;
            }
          }
        }
      }
    }

    .right-side {
      width: 564px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content {
        display: flex;
        flex-direction: column;

        span,
        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          text-align: left;
          color: #7e7e7e;
        }

        span {
          display: block;
          margin-bottom: 25px;
        }
      }

      .btns {
        display: flex;
        align-items: center;
        margin-top: 40px;

        button:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

/** 
* End About Us Section Style
**/
