.contact {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  position: relative;

  &:after {
    content: "";
    width: 204px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: -100px;
    background-image: url(../images/contact/icon-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content-contact {
    width: 770px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 10px 60px rgba(36, 0, 100, 0.13);
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      width: 126px;
      height: 130px;
      position: absolute;
      top: -40px;
      left: -50px;
      background-image: url(../images/bg-about-us.svg);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &:after {
      content: "";
      width: 142px;
      height: 142px;
      position: absolute;
      bottom: -50px;
      right: -60px;
      background-image: url(../images/contact/icon-2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  .header-contact {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #813afe;
    }
  }

  .mail {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    a {
      font-weight: 300;
      font-size: 45px;
      line-height: 30px;
      text-align: center;
      color: #7e7e7e;
    }
  }

  .social-media-contact {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        width: 30px;
        height: 30px;
        background: #fff;
        filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.1));
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        border-radius: 50%;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
