/** 
* Start Global Style
**/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #f9f7fc;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
}

small {
  font-size: 100%;
}

ul,
li {
  list-style: none;
}

.primary-btn {
  width: 170px;
  height: 50px;
  background-color: $primaryColor;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;

  // &:hover {
  //   background-color: transparent;
  //   border: 1px solid $primaryColor;
  //   color: $primaryColor;
  // }
}

.secondary-btn {
  width: 170px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: $primaryColor;
  border-radius: 5px;
  border: 1px solid $primaryColor;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $primaryColor;
    border: 1px solid transparent;
    color: #fff;
  }
}

.container {
  width: 1180px;
  max-width: 90%;
  margin: 0 auto;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #813afe;
  }

  h2 {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #333;
    margin-top: 3px;
  }
}

/** 
* End Global Style
**/
