/** 
* Start Service Section Style
**/

.service {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  z-index: 2;
  position: relative;

  .content-service {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      width: 192px;
      height: 171px;
      background-image: url(../images/bg-services.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 60px;
      right: 20px;
      z-index: -1;
    }
  }

  .owl-dots {
    display: block;
    margin-top: 50px !important;

    .owl-dot span {
      background-color: #be99fe;
      transition: 0.4s;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
      background-color: #813afe;
    }
  }

  .blocks-services {
    margin-top: 50px;
    padding-bottom: 70px;

    .owl-stage-outer {
      overflow: initial;
    }

    .item {
      height: 377px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0px 5px 60px rgba(36, 0, 100, 0.13);
      padding: 50px 30px;
      transition: 0.5s;
      cursor: pointer;

      h3 {
        font-weight: 500;
        font-size: 45px;
        line-height: 60px;
        color: #333333;
        transition: 0.4s;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #7e7e7e;
        margin-top: 30px;
        transition: 0.4s;
      }

      .read-more {
        display: flex;
        align-items: center;
        margin-top: 50px;

        span {
          font-weight: 500;
          font-size: 14px;
          color: #7e7e7e;
          transition: 0.4s;
        }

        svg {
          margin-left: 30px;
          path {
            transition: 0.4s;
          }
        }
      }
      &:hover {
        background-color: #813afe;

        h3,
        p {
          color: #fff;
        }

        .read-more {
          span {
            color: #fff;
          }
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

/** 
* End Service Section Style
**/
