@import "variables";
@import "global";
@import "header";
@import "hero";
@import "aboutUs";
@import "service";
@import "portfolio";
@import "hireMe";
@import "counter";
@import "testimonials";
@import "partenrs";
@import "contact";
@import "footer";
